.Bad {
  background-color: #ffabab
}

.Ok {
  background-color: #e6ffeb;
}

.new-todo {
  transition: background 0.2s ease-in-out;
}

.Pending {
  animation: pendingBackground 5s infinite;
}

@keyframes pendingBackground {
  0% {
    background-color: transparent;
  }

  33% {
    background-color: #c8c8c8;
  }

  66% {
    background-color: #f1f1f1;
  }

  100% {
    background-color: transparent;
  }
}